@import "~font-awesome/css/font-awesome.css";
@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";

html, body {
  margin: 0;
  padding: 0;
  background-color: #212;
  color: #eee;
  font: 12px sans-serif;
}

a {
  color: #ccc;
  &:hover {
    color: #fff;
  }
}

nav.topNav {
  margin: 10px 10px 0 10px;
  width: calc(100% - 20px);
  min-height: 48px;
  background-color: #323;
  color: #eee;
  box-shadow: 4px 4px 6px #000;
  display: flex;
  flex-direction: row;

  .logo {
    width: 40px;
    height: 40px;
    margin: 4px;
  }
  section {
    padding: 5px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
  }
  section.primary {
    text-align: left;
  }
  section.secondary {
    justify-content: end;
    text-align: right;
  }

  .auth-status {
    display: flex;
    justify-content: center;
    flex-direction: row;
    .avatar {
      height: 40px;
      width: 40px;
      margin: 4px 4px 4px 12px;
    }
    .twitch-login {
      width: 170px;
      height: 32px;
      margin: 0 5px;
      background-image: url(connect-with-twitch.png);
      display: inline-block;
      overflow: hidden;
      color: transparent;
    }
    .meta {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.react-resizable-handle {
  filter: invert(100%) brightness(1.5);
}

.panel {
  background-color: #323;
  color: #eee;
  box-shadow: 4px 4px 6px #000;

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    header {
      cursor: move;
      width: 100%;
      border-bottom: 1px solid #545;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: center;
      align-items: center;

      span.title {
        flex-grow: 1;
        font-weight: bold;
        padding: 0.75em 0.75em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      button {
        cursor: pointer;
        display: block;
        width: 3em;
        flex-shrink: 0;
        justify-content: center;
        padding: 0.75em 0.5em;
        border: none;
        color: #eee;
        background-color: transparent;
        &.pin.inactive {
          i {
            transform: rotate(-45deg);
          }
        }
        &:hover {
          background-color: #545;
        }
        &:active {
          background-color: #504050;
          &.pin.inactive {
            i {
              transform: translate(1px, 1px) rotate(-45deg);
            }
          }
          i {
            transform: translate(1px, 1px);
          }
        }
      }
    }

    .content {
      flex-grow: 1;
      margin: 0px;
      padding: 8px;
    }
  }
}

.griddy {
  width: 100%;
  height: 100%;
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  //grid-auto-rows: minmax(100px, auto);
  > div {
    border: 2px solid rgb(233,171,88);
    border-radius: 5px;
    background-color: rgba(233,171,88,.5);
    padding: 1em;
    color: #d9480f;
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  }
}
