.auth-status {
  .twitch-login {
    width: 170px;
    height: 32px;
    background-image: url(connect-with-twitch.png);
    display: inline-block;
    overflow: hidden;
    text-indent: -100%;
    color: #fff;
  }
}
